@model List<PacoteM>
<div class="text-center">
<h1>@ViewData["Title"]</h1>

<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ORIGEM</th>
      <th scope="col">DESTINO</th>
      <th scope="col">MÊS</th>
      <th scope="col">IDA</th>
      <th scope="col">VOLTA</th>
      <th scope="col">PREÇO</th>
      <th scope="col">AÇÕES</th>
    </tr>
  </thead>
  @foreach (PacoteM pacoteAtual in Model)
{
  <tbody>
    <tr>
      <th >@pacoteAtual.origem</th>
      <td>@pacoteAtual.destino</td>
      <td>@pacoteAtual.mes</td>
      <td>@pacoteAtual.ida</td>
      <td>@pacoteAtual.volta</td>
      <td>@pacoteAtual.preco</td>
      <td><a href="/Pacotes/Editar?id=@pacoteAtual.id" type="button" class="btn btn-warning">Editar</a><a href="/Pacotes/Remover?id=@pacoteAtual.id" class="btn btn-danger">Apagar</a>
       </td>
    </tr>
  </tbody>
  }
</table>
</div>